	@media screen and (max-width: 1500px) {.menu{word-spacing: 70px;}}
	@media screen and (max-width: 1400px) {.blockinservices{margin: 32px 96px 32px 96px;}
										   .blockpromise{margin: 32px 0px 18px 0px;}
										   .blockofallservices{height: 1600px;}}
	@media screen and (max-width: 1300px){.blockinservices {margin: 32px 62px 32px 62px;}}
										 
	@media screen and (max-width: 1200px) {.blockinservices {margin: 32px 204px 32px 204px;}
										   .blockofallservices{height: 3200px;}}				
	
	@media screen and (max-width: 1100px) {.menu{word-spacing: 20px;}}
	
	@media screen and (min-width: 3000px) {.blockinservices {height: 500px;}
										   .blockofallservices {height: 600px;}}