<div class="regexpdiv">
	<div class="regexp">
		<form method="post" action="index.php">
			<input type="text" name="search" class="colortext" placeholder="Input word">
			<input type="submit" class="butinregexp" value="Find a word in the text">
		</form>
		<form enctype="multipart/form-data" method="post">
			<input type="file" name="file" id="file" class="inputfile"/>
			<label for="file">Choose a file</label>
			<input type="submit" class="butinregexp" value="Load">
		</form>
	</div>
</div>
<div class="textforsearch">
	<p>{text}</p>
</div>
