<div class="blockofdescription">
    <div class="photoincatalog">
        <img src="{photo}" width="320" height="180" />
    </div>
    <div class="textincatalog">
        <h2>{car_model}</h2>
        <ul class="list">
            <li>Mileage: {mileage} km</li>
            <li>Year of issue: {year} </li>
            <li>Gearbox: {gearbox} </li>
            <li>Engine: {volume} L / {type_fuel}</li>
            <li>Body: {body}</li>
            <li>Drive unit: {drive_unit}</li>
            <li>Price: {price}</li>
        </ul>
        <p>Tel: {tel}</p>
    </div>
</div>