
	@media screen and (max-width: 1500px) {.menu{word-spacing: 70px;}}
	@media screen and (max-width: 1300px) {.filtr{float: none; margin: 10px 320px 40px 320px}
										  .blockofdescription{margin: 20px 100px}}
	@media screen and (max-width: 1100px) {.menu{word-spacing: 20px;}
											.filtr{margin: 10px 250px 40px 250px}
										   .blockofdescription{margin: 20px 30px}}
				
	@media screen and (min-width: 3000px) {.filtr{height: 700px;}}
	@media screen and (min-width: 3500px) {.filtr{height: 750px;}}